<form metho='post' action="/planets">
<br>Name: <br><input type='text' name='planet[name]' autofocus><br>
<br>Image: <br><input type='text' name='planet[image]'><br>
<br>Orbit: <br><input type='text' name='planet[orbit]'><br>
<br>Diameter: <br><input type='text' name='planet[diameter]'><br>
<br>Mass: <br><input type='text' name='planet[mass]'><br>
<br>Moons: <br><input type='text' name='planet[moons]'><br><br><br>
<button>planet me!</button>
</form>