<form method='post' action="/planets">
  Name<br>
<input type="text" name='planet[name]' autofocus><br>Image<br>
<input type="text" name='planet[image]'><br>Orbit<br>
<input type="text" name='planet[orbit]'><br>Mass<br>
<input type="text" name='planet[mass]'><br>Diameter<br>
<input type="text" name='planet[diameter]'><br>Moons<br>
<input type="text" name='planet[moons]'><br>
<button>insert planet</button><br>
</form>